#one-page{
   font-family: 'Do Hyeon', sans-serif;

    .top-bar{
      // position: fixed;
      background-color: rgba(0, 0, 0, .5);
      .top-bar-left{
      
      ul{
        background-color: transparent;
        list-style: none;
        color: white;
        li {
          padding-left: 30px;
          font-size: 20px;
          a{
          color: white;
          }
        }
      }
    }
    .top-bar-right{
      // background-color: rgba(0, 0, 0, .0);
    
      ul{
        background-color: transparent;
        list-style: none;
        color: white;
        li {
          padding-left: 30px;
          a{
          color: white;
          }
        }
      }
    }
  }
.header-scrolled{
  background-color: rgba(255,0,0, .5)
}
  
  .hero {
    
      background:  linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.75)
    ),
    url('/img/hero-bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -141px;
    @include breakpoint (medium){
      margin-top: -64px;
    }
      .content{        
        padding-top: 100%;
        @include breakpoint (medium){
          padding: 20%; }
        span{
          color: red;
          font-family: 'Do Hyeon', sans-serif;
        }
        h1{
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Do Hyeon', sans-serif;
        }
  } 
  
}
.bio{
    
  padding: 15px;
  @include breakpoint (medium){
    padding: 15px 0px; }
.bio-pic{
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  color: red;
  font-family: 'Do Hyeon', sans-serif;
}
}
 .top {
  background-color: black;
  @include breakpoint (medium){
    padding: 15px 45px 0px 45px;
  h2{
    color: red;
    padding-left: 45px;
    font-family: 'Do Hyeon', sans-serif;
  }
}
  p{
    color:white;
  @include breakpoint (medium){
  background-color: black;
  padding: 15px 45px 0px 45px;
    
    }
  }
}
 .bottom{
  background-color: black;
  @include breakpoint (medium){
  padding: 0px 45px 15px 45px;
  }
}

.zoom-card {
  height:249px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  position:relative;
  
  .zoom-card-background1 {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: url("/img/feazel.png");
    background-repeat: no-repeat;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    &:hover {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }

    &:focus {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }
  }
  .zoom-card-background2 {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: url("/img/Farm-to-truck.png");
    background-repeat: no-repeat;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    &:hover {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }

    &:focus {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }
  }
  .zoom-card-background3 {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: url("/img/elite-media.png");
    background-repeat: no-repeat;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    &:hover {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }

    &:focus {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }
  }
  .zoom-card-background4 {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: url("/img/marine-layer.png");
    background-repeat: no-repeat;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    &:hover {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }

    &:focus {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }
  }
  .zoom-card-background5 {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: url("/img/pet-butler.png");
    background-repeat: no-repeat;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    &:hover {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }

    &:focus {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }
  }
  .zoom-card-background6 {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: url("/img/spring-green.png");
    background-repeat: no-repeat;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    &:hover {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }

    &:focus {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 3s ease-out;
      -moz-transition: all 3s ease-out;
      -o-transition: all 3s ease-out;
      transition: all 3s ease-out;
    }
  }
    .zoom-card-caption {
      position: absolute;
      width: 100%;
      bottom:0px;
      background-color: #C0C0C0;
      color: black;
      padding:15px 20px;      
      text-align: center;
    
      a{
        padding: 0px;
        margin:0px;
        line-height:1.5em;
        color: black;
      }
    }
    
  .portfolio {
    padding: 20px 0px;
    background: black;
  }
}
.contact{
  padding: 15px;
  @include breakpoint (medium){
    padding: 15px 0px; }
    h2{
      color: red;
      font-family: 'Do Hyeon', sans-serif;
    }
}









}